<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815880256694-eimjuq3vdtitqbu8l72u9uco6l7op87u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815880256694-eimjuq3vdtitqbu8l72u9uco6l7op87u</string>
	<key>API_KEY</key>
	<string>AIzaSyAnk1zSgmMubJmD5BrHCTSbUIPscLOwyMo</string>
	<key>GCM_SENDER_ID</key>
	<string>815880256694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alaminkarno.flutterEMart</string>
	<key>PROJECT_ID</key>
	<string>flutter-e-mart</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-e-mart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815880256694:ios:d974220683f94300f9fa17</string>
</dict>
</plist>